{% extends "layout.html"%}

{% block body %}
<h2>All my to do taks are here</h2>
<br>
<hr>
<h2> Incomplete Tasks </h2>
<br>
<hr>
{% for task in all_tasks %}
<span style="color: blue;"> 
    {% if task.completed == False %}
    
    Task ID: {{ task.id }}<br>
    Task Description: {{ task.description }}<br>
    
    {% endif %}    
</span>
{% endfor %}
<hr>
<h2> Completed Tasks </h2>
<br>
<hr>
{% for task in all_tasks %}
<span style="color: blueviolet;">
    {% if task.completed == True %}
    
    Task ID: {{ task.id }}<br>
    Task Description: {{ task.description }}<br>

    {% endif %}
</span>
{% endfor%}
{% endblock body %}
